{% extends "base.html.twig" %}

{% block title %}
    ELEPHAS Paris®️, Coffret cosmétiques bio et héroïque pour la vie sauvage.
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="{{ asset('assets/css/pages/home.css') }}" />

{% endblock %}

{% block body %}
<div class="kleanity-page-wrapper" id="kleanity-page-wrapper">
    
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper position-relative">
            <div class="gdlr-core-pbf-background-wrap my-bg-black" style="z-index: 1; opacity:0.8" >
                {# <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(upload/hp3-section-2.jpg);background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.3"></div> #}
            </div>
            <div class=" my-bg-elephant" style="position:absolute;width:100%; height:100%; top:0px ;left:0px" >
                {# <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(upload/hp3-section-2.jpg);background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.3"></div> #}
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " style="z-index: 2">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first gdlr-core-ipad-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{label}}">{{ message | raw }}</div>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 15px;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 50px;font-weight: 300;letter-spacing: 0px;text-transform: uppercase; color: #fff;">
                                                OFFRE UN COFFRET RARE : UNE BEAUTE EXPERTE & ENGAGEE POUR LA VIE<br> SAUVAGE
                                                <span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                            <p class="text-white"> ELEPHAS Paris® signe pour vous un trio de soins experts et rares, réunis dans une routine bio minimaliste pour rayonner de beauté et d’engagement au quotidien.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border my-bg-orange" href="{{path('app_checkout')}}" style="margin-bottom:26px;font-size: 12px;padding: 18px 33px 18px 33px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; color: var(--color-black);"><span class="gdlr-core-content">Commander</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-ipad-column">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js d-none d-md-block">
                                <div class="d-flex align-items-end justify-content-around" >
                                    <img src="{{asset('assets/utils/images/Calque -2.png')}}" />
                                    <img src="{{asset('assets/utils/images/Calque -1.png')}}" class="mx-md-3" />
                                    <img src="{{asset('assets/utils/images/Calque -3.png')}}" />
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js d-md-none">
                                <div>
                                    <img src="{{asset('assets/utils/images/moringa-rmbg-rogner.png')}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 30px 0px;">
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 25px;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 25px;font-weight: 100;letter-spacing: 0px;text-transform: uppercase;">UNE ROUTINE BEAUTE ANTI-POLLUTION EXPERTE .<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                                            <p>Un coffret de 3 soins visage experts bio pour protéger la peau au quotidien de la pollution et prévenir du vieillissement prématuré. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                        <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 35px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #2b2b2b;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 0px 35px 0px;">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 15px;">
                                            <p>
                                                Les cosmétiques ELEPHAS Paris® bénéficient de l’expertise convoitée d’Olivier BEHRA et de ses 15 années de recherche (identification & sélection de plantes pour leurs actifs) au service des plus grandes maisons : Chanel, Yves Rocher, ou Dessange. La garantie de l’excellence, alliée au naturel et à l’efficacité, pour une peau éclatante et saine.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="text-center gdlr-core-personnel-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-personnel-item-style-grid gdlr-core-personnel-style-grid" style="padding-bottom: 0px;">
                            <div class="gdlr-core-personnel-list-column  gdlr-core-column-20 gdlr-core-column-first gdlr-core-item-pdlr">
                                <div class="gdlr-core-personnel-list clearfix">
                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-zoom-on-hover">
                                        <a href="#"><img src="{{asset('assets/utils/images/lotionBota.jpg')}}"   alt=""></a>
                                    </div>
                                    <div class="gdlr-core-personnel-list-content-wrap">
                                        <h3 class="gdlr-core-personnel-list-title" style="font-weight: 800;"><a href="#">1.PURIFIER

                                            </a>
                                        </h3>
                                        <p class="font-weight-bold">Lotion Botanique Nettoyante</p>
                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption my-font-regular" style="font-size: 15px;font-style: normal;">
                                            Aux extraits de Moringa, Harpagophytum, huile de Karanja bio et jus d’Aloe, pour purifier, détoxifier et apaiser la
                                            peau.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-personnel-list-column  gdlr-core-column-20 gdlr-core-item-pdlr">
                                <div class="gdlr-core-personnel-list clearfix">
                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-zoom-on-hover">
                                        <a href="#"><img src="{{asset('assets/utils/images/cremeHydra.jpg')}}"   alt=""></a>
                                    </div>
                                    <div class="gdlr-core-personnel-list-content-wrap">
                                        <h3 class="gdlr-core-personnel-list-title" style="font-weight: 800;"><a href="#">2.PROTÉGER ET RÉGÉNÉRER</a></h3>
                                        <p class="font-weight-bold">Crème de jour hydratante Anti-pollution </p>
                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption my-font-regular" style="font-size: 15px;font-style: normal;">
                                            Crème visage au beurre de Karité, acide hyaluronique, huile précieuse de Baobab et extraits de Moringa pour protéger, détoxifier et régénérer la peau au quotidien.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-personnel-list-column  gdlr-core-column-20 gdlr-core-item-pdlr">
                                <div class="gdlr-core-personnel-list clearfix">
                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-zoom-on-hover">
                                        <a href="#"><img src="{{asset('assets/utils/images/huileBota.jpg')}}"   alt=""></a>
                                    </div>
                                    <div class="gdlr-core-personnel-list-content-wrap">
                                        <h3 class="gdlr-core-personnel-list-title" style="font-weight: 800;"><a href="#">3. DÉMAQUILLER ET CHOUCHOUTER </a></h3>
                                        <p class="font-weight-bold">Huile Botanique Démaquillante </p>
                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption my-font-regular" style="font-size: 15px;font-style: normal;">
                                            Garantit un démaquillage doux et efficace, tout en apportant un soin botanique grâce à sa sélection d’huiles de Coco, de Jojoba et de Moringa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <p class="text-center">
                        Produits certifiés bio, vegan, sans cruauté envers les animaux, sans huile de palme ni dérivés. Formulés sans sillicones ni pertubateurs endocriniens.
                    </p>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 80px 0px; color: #fff;">
            <div class="gdlr-core-pbf-background-wrap my-bg-light-gray" >
                {# <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(upload/hp3-section-2.jpg);background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.3"></div> #}
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                
                                
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 15px;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                            <p class="p-fs-mobile" style="font-size: 40px; color: var(--color-black);"> Pour Noël, sublime ta (sa) beauté naturelle avec l’excellence des cosmétiques bio et naturels ELEPHAS Paris® !</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border my-bg-black" href="{{path('app_checkout')}}" style="font-size: 12px;padding: 18px 33px 18px 33px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; color: var(--color-orange);"><span class="gdlr-core-content">Achetez le coffret à {{ coffret.prix }} €</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 30px 0px;">
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 25px;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 25px;font-weight: 100;letter-spacing: 0px;text-transform: uppercase;">TA BEAUTE, TON ACTION POUR LA SURVIE D’UNE ESPÈCE MENACÉE !<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                                            <p class="mt-4">Tes achats participent à nos actions concrètes pour la conservation des éléphants !</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                        <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 35px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #2b2b2b;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30"></div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first" >
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="coffret-img" style="padding: 100px 100px 0px 0px;" data-sync-height="height-1">
                            <div class="gdlr-core-pbf-background-wrap">
                                {# <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"  data-parallax-speed="0.2"> #}
                                    <img src="{{asset('assets/utils/images/Image 5.png')}}" >
                                {# </div> #}
                            </div>
                            {# <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInLeft" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8"></div> #}
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js "  data-sync-height="height-1" data-sync-height-center>
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation="fadeInRight" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" >
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-right: 45px; margin-top: 20px"><img src="{{asset('assets/utils/icones/controle-des-badges.png')}}" alt="" width="40" /></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Des filières d’ingrédients régénératrices des habitats naturels</h3></div>
                                            <div class="gdlr-core-column-service-content">
                                                <p class="paragraph-ico-section">
                                                    Nous plantons le Moringa, ingrédient phare de ta routine sélectionné pour ses hautes vertus cosmétiques, en Tanzanie et au Burkina Faso en alternative aux agricultures intensives dévastatrices des zones de vie des éléphants. Il permet ainsi la régénération des habitats naturels pour garantir leur survie.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" >
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image" ><img src="{{asset('assets/utils/icones/insigne-sherif.png')}}" alt="" width="40" /></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Des éco-gardes formés contre le braconnage</h3></div>
                                            <div class="gdlr-core-column-service-content">
                                                <p class="paragraph-ico-section">Puisqu’hélas il le faut encore, ELEPHAS appuie la formation de patrouilles anti-braconnage entre la réserve de Nazinga et le Parc de Kaboré tambi au Burkina Faso.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" >
                                        <div class="gdlr-core-column-service-media gdlr-core-media-image" ><img src="{{asset('assets/utils/icones/diplome.png')}}" alt="" width="40" /></div>
                                        <div class="gdlr-core-column-service-content-wrapper">
                                            <div class="gdlr-core-column-service-title-wrap">
                                                <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Des écoliers locaux sensibilisés au rôle des éléphants</h3></div>
                                            <div class="gdlr-core-column-service-content">
                                                <p class="paragraph-ico-section">
                                                    Connaitre les éléphants, mieux comprendre, c’est mieux les protéger. ELEPHAS organise des visites scolaires d’écoliers des villages dans la réserve et de l’éducation à l’environnement en classes pour que les générations futures s’impliquent dans leur protection.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" >
                                    <!-- <div class="gdlr-core-column-service-media gdlr-core-media-image" ></div>
                                    <div class="gdlr-core-column-service-content-wrapper" style="padding-left: 7px;">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border my-bg-black text-center" href="{{path('app_checkout')}}" style="font-size: 12px;padding: 18px 50px 18px 50px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; color: var(--color-orange);  width: 290px;"><span class="gdlr-core-content">COMMANDE TES SOINS HEROÏQUES !</span></a>
                                    </div> -->
                                    <div class="row">
                                        <!-- <div class="col-12 col-md-2"></div> -->
                                        <div class="col-12 text-center">
                                           <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border my-bg-black text-center" href="{{path('app_checkout')}}" style="font-size: 12px;padding: 18px 50px 18px 50px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; color: var(--color-orange);  width: 290px;"><span class="gdlr-core-content">COMMANDE TES SOINS HEROÏQUES !</span></a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 30px 0px;">
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 25px;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 25px;font-weight: 100;letter-spacing: 0px;text-transform: uppercase;">UNE RECONNAISSANCE ONUSIENNE<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                        <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 35px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #2b2b2b;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 0px 35px 0px;">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 15px;">
                                            <p>
                                                Forte de son modèle pionnier, la marque ELEPHAS est reconnue par l’ONU pour ses réels impacts environnementaux et engagements sociaux et est figure de proue dans le mouvement des Conscious Brands pour la conservation de la biodiversité en péril et pour le développement local.  Son modèle de gestion et ses actions participent à 12 des 17 SDGs (objectifs du millénaire pour le développement)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 20px 20px 20px 20px;">
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix  gdlr-core-gallery-item-style-grid">
                            <div class="row text-center">
                                <div class="col-4 col-md-2">
                                    <img src="{{asset('assets/utils/logo/Calque 4.png')}}"
                                            role="button"
                                            data-container="body"
                                            data-toggle="popover"
                                            tabindex="0"
                                            data-trigger="focus"
                                            data-placement="top"
                                            data-content="La certification Cosmos Organic permet la commercialisation de produits cosmétiques biologiques ou naturels. Elle garantit un ensemble de procédés et de production respectueux de l’environnement et de la santé humaine, ainsi qu’un développement du concept de chimie verte. Ainsi, les produits créés ne contiennent pas d’ingrédients pétrochimiques, d’OGM et disposent d’un emballage recyclable. "
                                            alt="" width="138" height="49" />
                                </div>
                                <div class="col-4 col-md-2">
                                    <img src="{{asset('assets/utils/logo/Calque 5.png')}}"
                                            role="button"
                                            data-container="body"
                                            data-toggle="popover"
                                            tabindex="0"
                                            data-trigger="focus"
                                            data-placement="top"
                                            data-content="la certification Wildlife Friendly est reconnue mondialement et est attribuée au développement et à la commercialisation de produits qui préservent les espèces sauvages menacées tout en contribuant à la vitalité économique des communautés rurales. Il peut regrouper les défenseurs de la nature, des entreprises, des artisans, des producteurs et des récoltants. Le label certifié Wildlife Friendly™ protège rigoureusement les espèces clés qui constituent une priorité en matière de conservation. Les entreprises Certified Wildlife Friendly™ protègent un large éventail d'espèces sauvages dans de multiples secteurs à travers le monde. Le programme comprend des critères distincts pour les produits certifiés Wildlife Friendly™ ainsi que pour le tourisme certifié Wildlife Friendly™."
                                            alt="" width="141" height="45" />
                                </div>
                                <div class="col-4 col-md-2">
                                    <img src="{{asset('assets/utils/logo/1ftp_Primary_Vertical_navy-01.webp')}}"
                                        role="button"
                                        data-container="body"
                                        data-toggle="popover"
                                        tabindex="0"
                                        data-trigger="focus"
                                        data-placement="top"
                                        data-content="1% for the Planet a été fondé pour empêcher l'écoblanchiment, certifier les dons de bonne réputation et assurer la responsabilité. La certification 1% for the Planet est décernée aux entreprises et aux particuliers qui respectent cet engagement de haut niveau - donner 1% de leurs ventes annuelles ou de leur salaire à des causes environnementales."
                                        alt="" width="141" height="45" />
                                </div>
                                <div class="col-4 col-md-2">
                                    <img src="{{asset('assets/utils/logo/Calque 6.png')}}"
                                        role="button"
                                        data-container="body"
                                        data-toggle="popover"
                                        tabindex="0"
                                        data-trigger="focus"
                                        data-placement="top"
                                        data-content="la certification Palm Oil Free est délivrée pour approuver la commercialisation de produits sans huile de palme. "
                                        alt="" width="132" height="46" />
                                </div>
                                <div class="col-4 col-md-2">
                                    <img src="{{asset('assets/utils/logo/Calque 7.png')}}"
                                        role="button"
                                        data-container="body"
                                        data-toggle="popover"
                                        tabindex="0"
                                        data-trigger="focus"
                                        data-placement="top"
                                        data-content="Conscious Fashion and Lifestyle Network est une plateforme en ligne hébergée par les Nations Unies (ONU) pour les acteurs du secteur, les médias, les gouvernements et les entités du système des Nations Unies. Le réseau met en avant et permet des collaborations qui accélèrent la mise en œuvre des objectifs de développement durable. Compte tenu de l'impact considérable du secteur de la mode et du style de vie sur les sociétés et l'environnement, son principal objectif est de mobiliser l'expertise, l'innovation, la technologie et les ressources en vue d'une reprise durable et inclusive du COVID-19, avec les objectifs de développement durable comme cadre directeur."
                                        alt="" width="148" height="44" />
                                </div>
                                <div class="col-4 col-md-2">
                                    <img src="{{asset('assets/utils/logo/Calque 8.png')}}"
                                        role="button"
                                        data-container="body"
                                        data-toggle="popover"
                                        tabindex="0"
                                        data-trigger="focus"
                                        data-placement="top"
                                        data-content='La première chose que vous devez savoir est que les termes "végétalien" (vegan) et "sans cruauté" (cruelty free) ne sont pas identiques. Vegan signifie qu&rsquo;un produit ne contient aucun ingrédient d&rsquo;origine animale. Cruelty-free signifie que le produit n&rsquo;a pas été testé sur des animaux pendant son développement. Si, techniquement, cela signifie qu&rsquo;un produit végétalien peut avoir été testé sur des animaux et vice versa, dans la pratique, la plupart des certifications végétaliennes exigent également que les produits soient sans cruauté, et de nombreux produits étiquetés "cruelty-free" sont également végétaliens, ce qui est le cas pour Elephas.'
                                        alt="" width="151" height="33" />
                                </div>
                            </div>








                            <!-- <div class="gdlr-core-gallery-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-column-first gdlr-core-item-pdlr gdlr-core-item-mgb">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                        <img src="{{asset('assets/utils/logo/Calque 4.png')}}"
                                             role="button"
                                             data-container="body"
                                             data-toggle="popover"
                                             tabindex="0"
                                             data-trigger="focus"
                                             data-placement="top"
                                             data-content="La certification Cosmos Organic permet la commercialisation de produits cosmétiques biologiques ou naturels. Elle garantit un ensemble de procédés et de production respectueux de l’environnement et de la santé humaine, ainsi qu’un développement du concept de chimie verte. Ainsi, les produits créés ne contiennent pas d’ingrédients pétrochimiques, d’OGM et disposent d’un emballage recyclable. "
                                             alt="" width="138" height="49" />
                                        </button>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                        <img src="{{asset('assets/utils/logo/Calque 5.png')}}"
                                             role="button"
                                             data-container="body"
                                             data-toggle="popover"
                                             tabindex="0"
                                             data-trigger="focus"
                                             data-placement="top"
                                             data-content="la certification Wildlife Friendly est reconnue mondialement et est attribuée au développement et à la commercialisation de produits qui préservent les espèces sauvages menacées tout en contribuant à la vitalité économique des communautés rurales. Il peut regrouper les défenseurs de la nature, des entreprises, des artisans, des producteurs et des récoltants. Le label certifié Wildlife Friendly™ protège rigoureusement les espèces clés qui constituent une priorité en matière de conservation. Les entreprises Certified Wildlife Friendly™ protègent un large éventail d'espèces sauvages dans de multiples secteurs à travers le monde. Le programme comprend des critères distincts pour les produits certifiés Wildlife Friendly™ ainsi que pour le tourisme certifié Wildlife Friendly™."
                                             alt="" width="141" height="45" /></div>
                                </div>
                                <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                        <img src="{{asset('assets/utils/logo/1ftp_Primary_Vertical_navy-01.webp')}}"
                                             role="button"
                                             data-container="body"
                                             data-toggle="popover"
                                             tabindex="0"
                                             data-trigger="focus"
                                             data-placement="top"
                                             data-content="1% for the Planet a été fondé pour empêcher l'écoblanchiment, certifier les dons de bonne réputation et assurer la responsabilité. La certification 1% for the Planet est décernée aux entreprises et aux particuliers qui respectent cet engagement de haut niveau - donner 1% de leurs ventes annuelles ou de leur salaire à des causes environnementales."
                                             alt="" width="141" height="45" /></div>
                                </div>
                                
                                <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image"
                                    ><img src="{{asset('assets/utils/logo/Calque 6.png')}}"
                                          role="button"
                                          data-container="body"
                                          data-toggle="popover"
                                          tabindex="0"
                                          data-trigger="focus"
                                          data-placement="top"
                                          data-content="la certification Palm Oil Free est délivrée pour approuver la commercialisation de produits sans huile de palme. "
                                          alt="" width="132" height="46" /></div>
                                </div>
                                <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                        <img src="{{asset('assets/utils/logo/Calque 7.png')}}"
                                             role="button"
                                             data-container="body"
                                             data-toggle="popover"
                                             tabindex="0"
                                             data-trigger="focus"
                                             data-placement="top"
                                             data-content="Conscious Fashion and Lifestyle Network est une plateforme en ligne hébergée par les Nations Unies (ONU) pour les acteurs du secteur, les médias, les gouvernements et les entités du système des Nations Unies. Le réseau met en avant et permet des collaborations qui accélèrent la mise en œuvre des objectifs de développement durable. Compte tenu de l'impact considérable du secteur de la mode et du style de vie sur les sociétés et l'environnement, son principal objectif est de mobiliser l'expertise, l'innovation, la technologie et les ressources en vue d'une reprise durable et inclusive du COVID-19, avec les objectifs de développement durable comme cadre directeur."
                                             alt="" width="148" height="44" /></div>
                                </div>
                                <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                                    <div class="gdlr-core-gallery-list gdlr-core-media-image">
                                        <img src="{{asset('assets/utils/logo/Calque 8.png')}}"
                                             role="button"
                                             data-container="body"
                                             data-toggle="popover"
                                             tabindex="0"
                                             data-trigger="focus"
                                             data-placement="top"
                                             data-content='La première chose que vous devez savoir est que les termes "végétalien" (vegan) et "sans cruauté" (cruelty free) ne sont pas identiques. Vegan signifie qu&rsquo;un produit ne contient aucun ingrédient d&rsquo;origine animale. Cruelty-free signifie que le produit n&rsquo;a pas été testé sur des animaux pendant son développement. Si, techniquement, cela signifie qu&rsquo;un produit végétalien peut avoir été testé sur des animaux et vice versa, dans la pratique, la plupart des certifications végétaliennes exigent également que les produits soient sans cruauté, et de nombreux produits étiquetés "cruelty-free" sont également végétaliens, ce qui est le cas pour Elephas.'
                                             alt="" width="151" height="33" /></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element mt-4">
                        <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border my-bg-black" href="{{path('app_checkout')}}" style="font-size: 12px;padding: 18px 50px 18px 50px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; color: var(--color-orange);"><span class="gdlr-core-content">Commande ta beauté consciente ! </span></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gdlr-core-pbf-wrapper " style="padding: 160px 0px 120px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url('/assets/utils/images/Groupe de masques 1.png');background-size: cover;background-position: center;" data-parallax-speed="0.3"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">

                    <div class="gdlr-core-pbf-column " data-skin="Dark">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element text-center">
                                    <h3>Les mots de notre fondatrice, Anne BEHRA</h3>
                                    <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 21px;">
                                    <p>“ Avec ELEPHAS nous poussons le curseur de l’éco-responsabilité à son paroxysme en créant un nouveau modèle de marque actif sur toute sa chaîne de valeurs, pour vous offrir la plus consciente et la plus active des beautés, avec un réel impact pour la protection d’une espèce menacée. C’est possible, il est temps qu’on s’y mette tous ! ”</p>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 80px 0px; color: #fff;">
            <div class="gdlr-core-pbf-background-wrap" >
                {# <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(upload/hp3-section-2.jpg);background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.3"></div> #}
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                
                                
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 15px;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                            <p class="p-fs-mobile" style="font-size: 40px; color: var(--color-black);"> Des produits appréciés pour leur haute efficacité et pour leurs impacts concrets pour la survie des éléphants.
                                                Faites-vous plaisir et recevez votre coffret !
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border my-bg-black" href="{{path('app_checkout')}}" style="font-size: 12px;padding: 18px 33px 18px 33px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; color: var(--color-orange);"><span class="gdlr-core-content">Commander</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 160px 0px 120px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url('/assets/utils/images/Groupe de masques 1.png');background-size: cover;background-position: center;" data-parallax-speed="0.3"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-40" data-skin="Dark">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-testimonial-item gdlr-core-item-pdb clearfix  gdlr-core-testimonial-style-left gdlr-core-item-pdlr">
                                        <div class="gdlr-core-testimonial-item-title-wrap ">
                                            <h3 class="gdlr-core-testimonial-item-title" style="font-size: 34px;text-transform: none;">Nos clients témoignent</h3>
                                            <div class="gdlr-core-flexslider-nav gdlr-core-plain-style gdlr-core-absolute-center gdlr-core-right"></div>
                                        </div>
                                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="1" data-nav="navigation" data-nav-parent="gdlr-core-testimonial-item">
                                            <ul class="slides">
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 21px;">
                                                                <p>“ Je kiffe cette crème. Ma peau l'adore, c'est comme si j'avais fait un soins</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                {# <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="{{asset('assets/kleanity/upload/personnel-4-150x150.jpg')}}" alt="" width="150" height="150" /></div> #}
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Caroline</div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Paris</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 21px;">
                                                                <p>“ Qu'est-ce qu'il y a dedans? Elle est magique! Lol Moi qui ai des problèmes de peau, je trouve que ma peau est radieuse et va beaucoup mieux!</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                {# <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="{{asset('assets/kleanity/upload/personnel-4-150x150.jpg')}}" alt="" width="150" height="150" /></div> #}
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Irene</div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Singapour</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 21px;">
                                                                <p>“ Je l’adore, je ne peux plus m’en passer et elle sent divinement bon</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                {# <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="{{asset('assets/kleanity/upload/personnel-4-150x150.jpg')}}" alt="" width="150" height="150" /></div> #}
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Marie-Lo</div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Strasbourg </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 21px;">
                                                                <p>“ Sa texture peut surprendre au début parce qu'elle n'est pas noyée d’eau comme dans les crèmes des grands groupes mais en fait elle est absolument géniale et elle ne laisse pas de film gras!</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                {# <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="{{asset('assets/kleanity/upload/personnel-4-150x150.jpg')}}" alt="" width="150" height="150" /></div> #}
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Paola</div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">La Rochelle</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('assets/utils/js/home.js')}}"></script> 
{% endblock %}