{% extends 'base_admin.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
   <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="#">Tableau de bord</a></li>
                            <li>Liste des commandes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->
        <!--breadcrumbs area end-->
        <div class="shop_area shop_reverse" style="padding-bottom : 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 mt-4">
                        <!--sidebar widget start-->
                        <aside class="sidebar_widget">
                            <div class="widget_inner">
                                <div>
                                    <h3 style="text-transform : uppercase; font-size : 18px;">Options de filtre</h3>
                                    {{ form_start(form, {'attr': {'class': 'filter-form filter-form--vertical', 'id': 'product-filter-form'}}) }}
                                        <div class="my-form-widget">
                                            {{form_label(form.clientName)}}
                                            {{form_widget(form.clientName,{ 'attr': {'class': 'form-control'} })}}
                                            {{form_errors(form.clientName)}}
                                        </div>

                                        <div class="my-form-widget">
                                            {{form_label(form.statut)}}
                                            {{form_widget(form.statut,{ 'attr': {'class': 'form-control'} })}}
                                            {{form_errors(form.statut)}}
                                        </div>
                                        <div class="my-form-widget">
                                            {{form_label(form.dateMin)}}
                                            {{form_widget(form.dateMin,{ 'attr': {'class': 'form-control'} })}}
                                            {{form_errors(form.dateMin)}}
                                        </div>
                                        <div class="my-form-widget">
                                            {{form_label(form.dateMax)}}
                                            {{form_widget(form.dateMax,{ 'attr': {'class': 'form-control'} })}}
                                            {{form_errors(form.dateMax)}}
                                        </div>
                                        <div class="my-form-widget">
                                            {{form_label(form.sort)}}
                                            {{form_widget(form.sort,{ 'attr': {'class': 'form-control'} })}}
                                            {{form_errors(form.sort)}}
                                        </div>
                                        <div class="my-form-widget">
                                            {{form_label(form.direction)}}
                                            {{form_widget(form.direction,{ 'attr': {'class': 'form-control'} })}}
                                            {{form_errors(form.direction)}}
                                        </div>
                                        
                                        <button class="btn btn-dark mt-2" type="submit">Filtrer</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </aside>
                        <!--sidebar widget end-->
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="block block--bordered block--rounded">
                            <div class="block__header mb-1" >
                                <h1 class="display-6" style="font-size : 20px;">Liste des commandes :</h1>
                                
                            </div>
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success p-3 text-center" role="alert">
                                    <div class="alert-body">
                                        {{message}}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if error != null %}
                                    <div class="alert alert-danger p-3 text-center" role="alert">
                                        <div class="alert-body">
                                            {{error}}
                                        </div>
                                    </div>
                            {% endif %}
                            {% if orderList|length ==0 and error == null %}
                                    <div class="alert alert-primary p-3 text-center" role="alert">
                                        <div class="alert-body">
                                            Aucune commande trouvée.
                                        </div>
                                    </div>
                            {% endif %}
                            {% if orderList|length !=0 %}
                            <div class="table-responsive mb-1">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Client</th>
                                            <th>Montant</th>
                                            <th>Statut</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orderList %}
                                        <tr>
                                            <td>{{order.orderDate | date("d/m/Y H:i")}}</td>
                                            <td>{{order.info.nom}} {{order.info.prenom}}</td>
                                            <td class="text-right">{{order.montant |format_currency('EUR')}}</td>
                                            <td class="text-success">{{order.statusStr}}</td>

                                            <td class="col-action ">
                                                <a href="{{path('app_admin_order_details', {'id': order.id})}}">
                                                    Voir les détails
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>

                                        
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center scale-up-center">
                                {{ knp_pagination_render(orderList) }}
                            <div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


    

{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
