{% extends 'base_admin.html.twig' %}

{% block title %}Détails de la commande{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
   <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="#">Tableau de bord</a></li>
                            <li>Détails de la commande</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->
    <div class="container" style="padding-bottom : 100px;">
        <div class="checkout_form">
                {% for message in app.flashes('error') %}
                <div class="alert alert-danger p-3 text-center" role="alert">
                    <div class="alert-body">
                        {{message}}
                    </div>
                </div>
            {% endfor %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                                <h3>Information du client</h3>
                                <div class="row">

                                    <div class="col-12 mb-20">
                                        <label>Nom <span>*</span></label>
                                        <input type="text" name="lastname" value="{{order.info.nom}}" disabled/>
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>Prénom <span>*</span></label>
                                        <input type="text" name="firstname" value="{{order.info.prenom}}" disabled/>
                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <label>Téléphone<span>*</span></label>
                                        <input type="text" name="phone" value="{{order.info.telephone}}" disabled/>

                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <label> Adresse e-mail<span>*</span></label>
                                        <input type="text" name="mail" value="{{order.info.email}}" disabled/>

                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <label>Adresse de livraison<span>*</span></label>
                                        <input type="text" name="address" value="{{order.info.paysRegion}}" disabled/>
                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <label>Adresse de facturation<span>*</span></label>
                                        <input type="text" name="address" value="{{order.info.lot}}" disabled/>
                                    </div>
                                     <div class="col-6 mb-20">
                                        <label>Rue <span>*</span></label>
                                        <input type="text" name="postal_code" value="{{order.info.rue}}" disabled/>
                                    </div>
                                    <div class="col-6 mb-20">
                                        <label>Code Postal <span>*</span></label>
                                        <input type="text" name="postal_code" value="{{order.info.codePostal}}" disabled/>
                                    </div>
                                    <div class="col-6 mb-20">
                                        <label>Ville <span>*</span></label>
                                        <input type="text" name="postal_code" value="{{order.info.ville}}" disabled/>
                                    </div>
                                    <div class="col-12">
                                        <div class="order-notes">
                                            <label for="order_note">Notes</label>
                                            <textarea id="order_note" name="order_note" value="{{order.info.notes}}"
                                                placeholder="Aucune note pour cette commande." style="height : 200px;" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h3>Détails de la commande</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td> {{order.coffret.nom}} <strong> × {{order.qteCoffret}} </strong></td>
                                            <td> {{order.prixCoffret|format_currency('EUR')}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Sous total</th>
                                            <td>{{order.montant|format_currency('EUR')}}</td>
                                        </tr>
                                        <tr>
                                            <th>Frais de livraison</th>
                                            <td><strong>0.00 €</strong></td>
                                        </tr>

                                        <tr class="order_total">
                                            <th>Prix net (sans TVA)</th>
                                            <td><strong>{{order.montantHt|format_currency('EUR')}}</strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>TVA ({{order.tva | number_format(0, ',', ' ')}} %)</th>
                                            <td><strong>{{order.montantTva|format_currency('EUR')}}</strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Prix total (TVA incluse)</th>
                                            <td><strong>{{order.montant|format_currency('EUR')}}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_method">
                                <form action="{{ path('app_admin_order_validate') }}" method="post">
                                    <input type="hidden" value="{{order.id}}" name="order_id"/>
                                    <div class="order_button">
                                        {% if order.statut == 1 %}
                                            <button type="submit">Valider</button>
                                        {% else %}
                                            <button type="button" style="opacity : 0.5;" disabled>Commande déjà validée</button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

            </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
