{% block _inventaire_mere_form_inventaireFilles_widget %}
    {{ form_widget(form)}}
    <input type="hidden" id="widgets-counter" value="{{form|length}}">
{% endblock %}


{% block _inventaire_mere_form_inventaireFilles_row %}
    {{ form_widget(form)}}
{% endblock %}

{% block _inventaire_mere_form_inventaireFilles_entry_label %}

{% endblock %}


{% block _inventaire_mere_form_inventaireFilles_entry_widget %}
    <tr id="block_{{id}}">
        <td>
            <div class="d-flex align-items-center">
                {{form_widget(form.produitlib,{ 'attr': {'class': 'form-control'} })}}
                <button class="btn btn-popup mx-1" onclick="openPopup('{{path('app_admin_product_popup')}}', '{{id}}_produitlib;{{id}}_produit', 'name;id')"  type="button">...</button>
            </div>
            {{form_errors(form.produit)}}
            <div class="d-none">{{form_widget(form.produit)}}</div> 
        </td>
        <td>{{form_widget(form.qte,{ 'attr': {'class': 'form-control'} })}}{{form_errors(form.qte)}}</td>
        {{form_widget(form.statut)}}
        <td class="col-action ">
            <div class="btn-wrap">
                <button class="btn btn-danger remove-item delete-row" type="button" data-row-id="{{id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </td>
    </tr>    
{% endblock %}
